* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.Head-Title {
  margin: 30px 0px 10px 0;
  position: relative; }
  .Head-Title b {
    font-size: 26px;
    font-weight: 700; }
  .Head-Title i {
    color: #f60;
    font-size: 26px !important;
    margin-right: 10px; }
  .Head-Title p {
    position: absolute;
    right: 0px;
    top: 14px;
    font-size: 12px; }
    .Head-Title p span {
      color: #333; }
      .Head-Title p span:hover {
        color: #f60; }
    .Head-Title p em {
      margin: 0 5px;
      color: #ccc; }

.whole {
  position: relative; }
  .whole .minPart {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2; }
  .whole img {
    z-index: 1;
    position: absolute; }
  .whole h4 {
    font-size: 12px;
    color: #999;
    padding: 15px 0 0 15px; }
  .whole h3 {
    font-size: 16px;
    color: #000;
    padding-left: 15px; }
  .whole h5 {
    font-size: 16px;
    color: #f60;
    padding: 5px 0 0 15px; }
  .whole .Left-part-1 {
    float: left;
    width: 400px; }
    .whole .Left-part-1 a {
      margin-bottom: 10px;
      display: block; }
  .whole .Left-part-2 {
    float: left;
    width: 580px;
    position: relative; }
    .whole .Left-part-2 a {
      display: block;
      background: #fff;
      height: 195px;
      position: relative;
      overflow: hidden; }
    .whole .Left-part-2 .Left-part-2-1 {
      margin: 0 0 10px 10px; }
      .whole .Left-part-2 .Left-part-2-1 img {
        right: 14px;
        top: 5px; }
    .whole .Left-part-2 .Left-part-2-2 {
      float: left;
      width: 350px;
      margin-left: 10px;
      margin-bottom: 10px; }
      .whole .Left-part-2 .Left-part-2-2 img {
        right: 8px;
        top: 30px; }
    .whole .Left-part-2 .Left-part-2-3 {
      float: left;
      width: 210px;
      margin-left: 10px;
      margin-bottom: 10px; }
      .whole .Left-part-2 .Left-part-2-3 img {
        right: 8px;
        top: 64px; }
  .whole .Right-part {
    float: right;
    width: 220px; }
    .whole .Right-part a {
      display: block;
      float: right;
      height: 195px;
      background: #fff;
      position: relative;
      overflow: hidden; }
    .whole .Right-part .Right-part-1 {
      width: 210px;
      margin-bottom: 10px; }
      .whole .Right-part .Right-part-1 img {
        top: 64px;
        right: 8px; }
    .whole .Right-part .Right-part-2 {
      width: 210px; }
      .whole .Right-part .Right-part-2 img {
        top: 75px;
        right: 8px; }

.logo {
  height: 70px;
  width: 1200px;
  overflow: hidden;
  background: #fff;
  border-bottom: #f60 solid 2px; }
  .logo ul {
    float: left; }
    .logo ul li {
      float: left;
      width: 120px;
      height: 70px;
      line-height: 70px; }

.Layout, #center .center {
  width: 1200px;
  margin: 0 auto; }

.img-top {
  height: 100px;
  background: url(../img/1.jpg) no-repeat #18D2F9 center; }

.ac {
  color: #f60;
  border-bottom: 3px solid #f60;
  box-sizing: border-box; }

.banner {
  height: 450px;
  position: relative; }
  .banner .banner1 {
    position: relative;
    height: 450px; }
    .banner .banner1 li {
      position: absolute;
      width: 100%;
      text-align: center; }
  .banner .banner2 {
    position: absolute;
    top: 430px;
    left: 630px;
    z-index: 999; }
    .banner .banner2 li {
      float: left;
      height: 6px;
      width: 40px;
      background: #fff;
      margin: 4px;
      opacity: 0.4; }
  .banner .Header-information {
    height: 450px;
    width: 220px;
    background: #fff;
    position: absolute;
    right: 155px;
    top: 0;
    z-index: 9; }
    .banner .Header-information .Header-information-1 {
      height: 38px;
      border-bottom: 1px solid #e8e8e8;
      border-top: 1px solid #e8e8e8; }
      .banner .Header-information .Header-information-1 ul li {
        float: left;
        font-size: 13px;
        margin-left: 22px;
        height: 38px;
        line-height: 38px; }
    .banner .Header-information .Header-information-2 ol {
      padding: 10px 15px; }
      .banner .Header-information .Header-information-2 ol li {
        font-size: 12px;
        overflow: hidden;
        height: 25px;
        line-height: 25px; }
        .banner .Header-information .Header-information-2 ol li:hover {
          color: #f60; }
    .banner .Header-information .Header-information-3 ol {
      float: left;
      border-top: 1px solid #ccc; }
      .banner .Header-information .Header-information-3 ol li {
        float: left;
        text-align: center;
        width: 73.3px;
        height: 80px;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc; }
        .banner .Header-information .Header-information-3 ol li:hover i {
          color: #f60; }
        .banner .Header-information .Header-information-3 ol li:hover p {
          color: #f60; }
        .banner .Header-information .Header-information-3 ol li i {
          font-size: 32px !important;
          color: #333;
          display: inline-block;
          padding-top: 9px; }
        .banner .Header-information .Header-information-3 ol li p {
          color: #333;
          font-size: 12px;
          padding-top: 6px; }

#center {
  height: 100%;
  background: #f2f2f2; }
  #center .center .nav-tow {
    height: 150px;
    padding-top: 15px;
    margin-right: -10px; }
    #center .center .nav-tow ul li {
      float: left;
      width: 20%; }
  #center .center .guess-you {
    height: 313px;
    margin-right: -10px; }
    #center .center .guess-you h3 {
      font-size: 26px;
      margin: 30px 0px 10px 0;
      font-weight: 700;
      position: relative; }
      #center .center .guess-you h3 i {
        font-size: 26px !important;
        color: #f60;
        margin-right: 10px; }
      #center .center .guess-you h3 span {
        position: absolute;
        font-size: 12px;
        font-weight: normal;
        right: 10px;
        top: 12px; }
        #center .center .guess-you h3 span i {
          font-size: 14px !important;
          color: #333;
          margin-right: 5px; }
        #center .center .guess-you h3 span b {
          cursor: pointer;
          font-weight: normal; }
          #center .center .guess-you h3 span b:hover {
            color: #f60; }
    #center .center .guess-you a {
      color: #000; }
    #center .center .guess-you ul li {
      float: left;
      width: 206px;
      background: #fff;
      padding: 0 13px;
      margin-right: 10px;
      text-align: center;
      font-size: 14px; }
      #center .center .guess-you ul li img {
        margin: 15px 0; }
      #center .center .guess-you ul li p {
        text-align: left;
        height: 38px;
        overflow: hidden; }
      #center .center .guess-you ul li h4 {
        text-align: left;
        color: #f60;
        margin: 5px 0 12px 0;
        font-size: 16px;
        font-weight: 700; }
  #center .center .promotion {
    height: 33px;
    margin-bottom: 10px; }
  #center .center .promotion-c {
    height: 402px; }
  #center .center .recording {
    height: 33px;
    margin-bottom: 10px; }
  #center .center .recording-c {
    height: 402px; }
  #center .center .brand {
    height: 70px; }
  #center .center .anchor {
    height: 33px;
    margin-bottom: 10px; }
  #center .center .anchor-c {
    height: 402px; }
  #center .center .brand2 {
    height: 70px; }
  #center .center .sound {
    height: 33px;
    margin-bottom: 10px; }
  #center .center .sound-c {
    height: 402px; }
  #center .center .brand3 {
    height: 70px; }
  #center .center .family {
    height: 33px;
    margin-bottom: 10px; }
  #center .center .family-c {
    height: 402px; }
  #center .center .brand4 {
    height: 70px; }
  #center .center .guitar {
    height: 33px;
    margin-bottom: 10px; }
  #center .center .guitar-c {
    height: 402px; }
  #center .center .brand5 {
    height: 70px; }
  #center .center .other {
    height: 33px;
    margin-bottom: 10px; }
  #center .center .other-c {
    height: 402px; }
  #center .center .brand6 {
    height: 70px; }
  #center .center .drying {
    height: 33px;
    margin-bottom: 10px; }
  #center .center .drying-c {
    height: 352px; }
    #center .center .drying-c ul {
      width: 1200px;
      height: 352px;
      float: left; }
      #center .center .drying-c ul li {
        width: 19.3%;
        margin-right: 10px;
        float: left;
        background: #fff; }
        #center .center .drying-c ul li img {
          width: 98%;
          margin: 0 2px; }
        #center .center .drying-c ul li p {
          margin: 15px;
          height: 34px;
          font-size: 12px;
          overflow: hidden; }
          #center .center .drying-c ul li p:hover {
            color: #f60; }
        #center .center .drying-c ul li a {
          display: block;
          margin: 15px;
          background: #f2f2f2;
          height: 65px; }
          #center .center .drying-c ul li a img {
            width: 62px;
            float: left;
            padding: 2px 6px 0 0; }
          #center .center .drying-c ul li a h5 {
            color: #333;
            font-size: 12px;
            height: 36px;
            margin: 13px 10px 19px 10px;
            padding-top: 10px;
            line-height: 18px;
            overflow: hidden; }
            #center .center .drying-c ul li a h5:hover {
              color: #f60; }
        #center .center .drying-c ul li h6 {
          font-size: 12px;
          color: #999;
          font-weight: normal;
          padding: 10px;
          border-top: 1px solid #ccc; }
          #center .center .drying-c ul li h6 span {
            float: right; }
      #center .center .drying-c ul li:nth-child(5) {
        margin-right: 0; }
  #center .center .information {
    height: 33px;
    margin-bottom: 10px; }
  #center .center .information-c {
    height: 274px; }
    #center .center .information-c ul {
      float: left; }
      #center .center .information-c ul li {
        float: left;
        width: 19.3%;
        margin-right: 10px;
        background: #fff; }
        #center .center .information-c ul li a img {
          width: 92%;
          padding: 0 10px; }
        #center .center .information-c ul li a p {
          font-size: 14px;
          margin: 15px;
          color: #000;
          height: 40px;
          overflow: hidden; }
        #center .center .information-c ul li h6 {
          font-size: 12px;
          color: #999;
          font-weight: normal;
          padding: 10px;
          border-top: 1px solid #ccc; }
          #center .center .information-c ul li h6 span {
            float: right; }
      #center .center .information-c ul li:nth-child(5) {
        margin: 0; }
      #center .center .information-c ul li:hover p {
        color: #f60; }

.ac2 {
  background: #f60 !important; }

.Stairs {
  position: fixed;
  width: 40px;
  height: 365px;
  bottom: 50px;
  left: 110px;
  color: #fff;
  font-size: 12px;
  cursor: pointer; }
  .Stairs dt {
    padding: 8px 4px;
    text-align: center;
    background: #f60;
    font-size: 14px;
    margin-bottom: 1px; }
  .Stairs dd {
    background: #666;
    text-align: center;
    padding: 4px;
    margin-bottom: 1px; }
    .Stairs dd:hover {
      background: #f60; }
  .Stairs h4 {
    text-align: center;
    background: #666; }
    .Stairs h4:hover {
      background: #f60; }

/*# sourceMappingURL=index.css.map */
