.center {
  height: 600px; }
  .center .center1 {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    position: relative; }
    .center .center1 .p1 {
      position: absolute;
      left: 0;
      font-size: 12px;
      color: 999;
      padding: 10px 0; }

.mask {
  width: 200px;
  height: 200px;
  background: #000;
  opacity: 0.5;
  position: absolute;
  display: none;
  top: 0;
  left: 0; }

.box {
  position: relative;
  box-sizing: border-box; }
  .box .small {
    position: absolute;
    height: 400px;
    width: 400px;
    background: #fff;
    top: 40px;
    border: 1px solid #ccc; }
    .box .small img {
      width: 400px;
      height: 400px; }
  .box .big {
    position: absolute;
    overflow: hidden;
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    left: 420px;
    top: 40px;
    z-index: 2;
    display: none; }
    .box .big img {
      position: absolute;
      background: #fff;
      width: 800px;
      height: 800px; }

.pause {
  position: relative; }

.content {
  position: absolute;
  right: 210px;
  width: 560px;
  top: 40px; }
  .content .p2 {
    font-size: 16px;
    color: #333;
    font-weight: 700; }
  .content .money {
    margin-top: 20px;
    line-height: 30px;
    padding: 10px;
    background: #f7f7f7; }
    .content .money .s1 {
      font-size: 12px;
      color: #999;
      padding-right: 20px; }
    .content .money .s9 {
      font-size: 30px;
      color: #f60; }
      .content .money .s9 em {
        font-size: 18px;
        font-style: normal; }
    .content .money .s3 {
      background: #f60;
      font-size: 12px;
      color: #fff;
      padding: 1px 2px; }
    .content .money .s4 {
      font-size: 12px;
      color: #333; }
  .content .haoping {
    background: #f7f7f7;
    position: absolute;
    right: 10px;
    top: 10px;
    padding-left: 20px;
    line-height: 20px;
    border-left: 1px solid #b7b7b7; }
    .content .haoping .p3 {
      color: #333; }
    .content .haoping p {
      font-size: 12px;
      color: #38d; }
  .content .youhui {
    position: relative;
    margin-top: 20px; }
    .content .youhui h4 {
      font-size: 12px;
      line-height: 30px;
      color: #f00; }
      .content .youhui h4 .s5 {
        color: #333; }
      .content .youhui h4 .s6 {
        background: #f60;
        margin-left: 20px;
        margin-right: 5px;
        color: #fff;
        padding: 1px 2px; }
      .content .youhui h4 .s7 {
        background: #f60;
        margin-left: 44px;
        margin-right: 5px;
        color: #fff;
        padding: 1px 2px; }
      .content .youhui h4 .s8 {
        margin-left: 20px;
        color: #333; }
  .content .anniu input {
    border-width: 0;
    width: 168px;
    height: 50px;
    outline: none;
    margin-top: 20px; }
  .content .anniu .btn1 {
    background: #FF0036;
    color: #fff;
    font-weight: 700;
    margin-left: 40px; }
  .content .anniu .btn2 {
    background: #ff6600;
    color: #fff;
    font-weight: 700;
    margin-left: 20px; }

/*# sourceMappingURL=page.css.map */
