*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
img{
    vertical-align: middle;
}
.header{
    height: 100px;
    margin-top: 20px;
    .header1{
        width: 1200px;
        height: 100px;
        background: url(../img/yin.png) no-repeat left;
        margin: 0 auto;
        ul{
            float: right;
            margin-top: 35px;
            li{
                float: left;
                width: 125px;
                span{
                    display: inline-block;
                    font-size: 30px;
                }
            }
            li:nth-child(5){
                img{
                    margin-top: 10px;
                }
            }
        }
    }
}
.nav{
    height: 580px;
    background: #0094e2;
    h3{
        font-size: 20px;
        text-align: center;
        color: #fff;
        padding-top: 42px;
        margin-bottom: 20px;
    }
    .zhuche{
        width: 340px;
        height: 310px;
        padding: 10px 20px;
        margin: 0 auto;
        background: #fff;
        p{
            font-size: 20px;
            color: #666;
            
        }
        input{
            border-width:0 ;
            outline: none;
        }
        .t1{
            padding: 12px 10px;
            width: 93%;
            line-height: 20px;
            border: 1px solid #ccc;
            margin-top: 20px;
        }
        .t2{
            padding: 12px 10px;
            width: 93%;
            line-height: 20px; 
            border: 1px solid #ccc;
            margin-top: 20px;
        }
        .s1{
            padding: 15px 10px;
            width: 100%;
            line-height: 20px; 
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 20px;
            color: #fff;
            font-size: 16px;
            &:hover{
                background:#e91206;
            }
        }
        a{
            display: inline-block;
            padding: 15px 10px;
            width: 94%;
            line-height: 20px; 
            border: 1px solid #ccc;
            color: #7c7c7c;
            text-align: center;
            text-decoration: none;
            margin-top: 20px;
        }
        #span1{
            font-size: 12px;
            position: absolute;            
        }
        #span2{
            font-size: 12px;
            position: absolute;            
        }
    }
}
.footer{
    margin-top: 20px;
    text-align: center;
    h4{
        font-size: 12px ;
        color: #7c7c7c;
        font-weight: normal;
        margin-bottom: 10px;
        span{
            display: inline-block;
            padding: 0 6px;
        }
    }
    p{
        font-size: 12px;
        color: #999;
        margin-bottom: 10px;
    }
    h5{
        font-size: 12px;
        color: #999;
        font-weight: normal;
        margin-bottom: 60px;
    }
}
